:root {
  --red: #ff9090;
  --black: #333333;
  --green: rgb(81, 255, 81);
  --blue: rgb(111, 185, 255);
  --yellow-bar: #fdff6a;
  --today-bar: #26d4ff;
  --gradient-color-one: #9bb7ff;
  --gradient-color-three: #e4fff0;
  --transparent-black: rgba(0, 0, 0, 0.05);
}

.mouse-odometer-distance {
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000000;
  font-weight: 700;
  color: var(--red);
  mix-blend-mode: difference;
  font-size: 18px;
  line-height: 18px;
}

.mouse-odometer-options-container {
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  width: 300px;
  background: linear-gradient(
    336deg,
    var(--gradient-color-one) 0%,
    var(--red) 44%,
    var(--gradient-color-three) 100%
  );
}

.mouse-odometer-options-container ul,
.mouse-odometer-options-container li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mouse-odometer-options-container .box {
  display: flex;
  gap: 10px;
  align-items: center;
}

.mouse-odometer-options-container .box.no-gap {
  gap: 0;
}
.mouse-odometer-options-container .box.column {
  flex-direction: column;
}

.mouse-odometer-options-container .title {
  font-size: 36px;
  justify-content: center;
}

.mouse-odometer-options-container .amount {
  font-size: 16px;
  justify-content: center;
}

.mouse-odometer-options-container .history {
  height: 50px;
  padding: 4px;
  background: var(--transparent-black);
}

.mouse-odometer-options-container .history .bar {
  position: relative;
  fill: white;
  transition: fill 0.3s ease;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  display: inline-block;
}

.mouse-odometer-options-container .history .bar.green {
  fill: var(--green);
}
.mouse-odometer-options-container .history .bar.blue {
  fill: var(--blue);
}
.mouse-odometer-options-container .history .bar.yellow {
  fill: var(--yellow-bar);
}
.mouse-odometer-options-container .history .bar.red {
  fill: var(--red);
}

.mouse-odometer-options-container .history .bar.today {
  fill: var(--today-bar);
}

.mouse-odometer-options-container .history .bar:hover {
  fill: var(--red);
}

.mouse-odometer-options-container .about {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background: var(--transparent-black);
}
.mouse-odometer-options-container .about p {
  font-weight: bold;
  margin: 0 0 5px;
  text-align: center;
}
.mouse-odometer-options-container .about ul {
  display: flex;
  justify-content: space-between;
}
.mouse-odometer-options-container .about a {
  color: var(--black);
  text-decoration: none;
}
.mouse-odometer-options-container .about a:hover {
  text-decoration: underline;
}
