@import 'odometer';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    336deg,
    rgba(155, 183, 255, 1) 0%,
    rgba(255, 144, 144, 1) 44%,
    rgba(228, 255, 240, 1) 100%
  );
  font-size: 100px;
}

.distance {
  position: fixed;
  top: 10px;
  left: 10px;
}
